{% include head.html %}
{% include header.html %}

<div class="heading goal-{{page.goal}}">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-md-3 col-lg-2">
        <img src="{{ site.baseurl }}/assets/img/goals/{{ page.goal }}.png" alt="{{ goal.short }} - Goal {{ goal.goal }}" />
      </div>
      <div class="col-xs-8 col-md-9 col-lg-10">
        <h1>
        {% assign page_goal_num = page.goal %}

          <span class="hidden-sm hidden-md hidden-lg">Goal {{page_goal_num}}: </span>{{ page.title }}

        </h1>
      </div>
    </div>
  </div>
</div>

<div id="main-content" class="container goal-indicators goal-{{page.goal}}">

  {{ content }}

  {% capture goal_title %}{{ found_goal.title }}{% endcapture %}
  {% capture goal_number %}{{ found_goal.goal }}{% endcapture %}
  {% include components/breadcrumb.html %}

  {% assign indicators = site.data.sdg_indicator_metadata | where:'goal', page.goal %}
  {% assign n_ind = 0 %}
  {% for ind in site['indicators'] %}
    {% if ind.goal contains page.goal %}
    
      {% assign n_ind = n_ind | plus: 1 %}
      {% assign indicator_status = ind.reporting_status %}
      {% if ind.reporting_status == 'notstarted' %}
        {% assign indicator_status_desc = 'Exploring data sources' %}
        {% assign indicator_status_css = 'danger' %}          
      {% endif %}
      {% if ind.reporting_status == 'inprogress' %}
        {% assign indicator_status_desc = 'Statistics in progress' %}     
        {% assign indicator_status_css = 'warning' %}          
      {% endif %}
      {% if ind.reporting_status == 'complete' %}
        {% assign indicator_status_desc = 'Reported online' %} 
        {% assign indicator_status_css = 'success' %}
      {% endif %}

      {% cycle 'add row' : '<div class="indicator-cards row no-gutters">', '', '', '' %}
          <div class="col-md-6 col-lg-3">
            <a href="{{ site.baseurl }}/{{ ind.permalink }}"><span>{{ ind.indicator }}<span class="status {{ indicator_status_css }}">{{ indicator_status_desc }}</span></span> {{ ind.indicator }}</a>
          </div>
      {% cycle 'end row' : '', '', '', '</div>' %}
    {% endif %}
  {% endfor %}
	{% assign last_row = n_ind | modulo:4 %}
	{% if last_row != 0 %}
		</div>
	{% endif %}
</div>

{% include footer.html %}
