{% include head.html %}
{% include header.html %}
{% assign goal = site.data.goals | where: "goal", page.goal | first %}
{% capture goal_uri %}{{ site.baseurl }}/{{ goal.short | slugify }}{% endcapture %}

{% if page.reporting_status != "complete" or page.data_non_statistical == true %}
{%   assign show_data = false %}
{% else %}
{%   assign show_data = true %}
{% endif %}

{% include components/fields-template.html %}
{% include components/units-template.html %}

<div class="heading indicator goal-{{page.goal}}">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-md-3 col-lg-2">
        {% for pgoal in page.goal %}
        <a href="{{ goal_uri }}" title="View this goal's indicator list">
          <img src="{{ site.baseurl }}/assets/img/goals/{{ pgoal }}.png" alt="{{ pgoal }} - Goal {{ pgoal }}" />
        </a>
        {% endfor %}
      </div>
      <div class="col-xs-8 col-md-9 col-lg-10">
        <h1>
          <a href="{{ goal_uri }}">
            <span class="hidden-sm hidden-md hidden-lg">Goal {{page.goal}}: </span>{{ goal.title }}
          </a>
        </h1>
        <h2>Indicator {{ page.indicator }}: {{ page.title }}</h2>
      </div>
    </div>
  </div>
</div>

<div id="main-content" class="container goal-{{page.goal}}">
  
  {% capture goal_href %}{{ goal_uri }}{% endcapture %}
  {% capture goal_number %}{{ goal.goal }}{% endcapture %}
  {% capture goal_title %}{{ goal.title }}{% endcapture %}
  {% capture indicator_title %}{{ page.title }}{% endcapture %}
  
  {% capture dataset_name %}indicator_{{page.indicator | slugify }}{% endcapture %}

  
  <div class="row" id="page-content-row">
    <div class="col-xs-12">
      <div id="page-content">
        {{ page.content }}
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <h2>{{ page.graph_title }}</h2>
    </div>
  </div>
  
  <div class="row" id="indicatorData" data-indicatordata='{{json_data}}' data-indicatorid='{{dataset_name}}' data-country="{{ page.national_geographical_coverage }}"
  data-edgesdata='{{ json_edges_data }}' data-charttitle="{{ page.graph_title }}" data-measurementunit="{{ page.computation_units }}" data-datasource="{{ page.source_organisation_1 }}" data-geographicalarea="{{ page.national_geographical_coverage }}" data-footnote="{{ page.data_footnote }}" data-showdata="{{ show_data }}" data-graphtype="{{ page.graph_type }}">
    <div class="col-md-12">
    
      <section>
        
        <!-- Tab panes -->
            <div  id="metadata">
              <h3 tabindex='0'>National Metadata</h3>
              <article>
                <p>This table provides metadata for the actual indicator available from {{ site.country.name }} statistics closest to the corresponding global
                  SDG indicator. Please note that even when the global SDG indicator is fully available from {{ site.country.adjective }} statistics, this table
                  should be consulted for information on national methodology and other {{ site.country.adjective }}-specific metadata information.</p>
                  {% include components/metadata.html scope='national' %}
              </article>
            </div>
			{% if site.environment == 'staging' %}
			<div  id="edit">
		       <div class="edit-container">
                  <a class="btn btn-primary" href="http://prose.io/#{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/_indicators/{{ page.indicator | slugify }}.md">Edit</a>
               </div>
		    </div>
			{% endif %}
		</div>
      </section>
    </div>
  </div>
</div>

{% include footer.html %}
  
